<a class="addHTMLNodeName button block button-transparent">Add Node Name<span class="validation"><i class="fa fa-check-square-o"></i><i class="fa fa-times"></i></span></a>
<input placeholder="html_snippet_name" type="text" class="block disabled full-width field-light">
<a class="addHTMLNodeCode button block button-transparent">Add Node Code<span class="validation"><i class="fa fa-check-square-o"></i><i class="fa fa-times"></i></span></a>

<a class="addHTMLNode button block button-transparent">Add Node</a>
<a class="cancelNode button block button-transparent">Cancel</a>

<a class="deleteAllHTMLNodes button block button-transparent">Delete All Nodes</a>