<div id="html_node_select">

	<div class="tableNA">
	    <div class="tableth">
	    	<span>No.</span>
	    	<span class="art">Article Title</span> 
	    	<span>Author</span>
	    	<span>Quick Preview</span> 
	    	<span>Bin</span>
	    </div>
	</div>

	<div class="tableList">

		<ul id="mainSortableList" class="sortable connected m0 ui-sortable"></ul>

	</div>

	<div class="HTMLNodesSpace md-col-12">
	  <div class="overflow-hidden bg-white border rounded">
	    <div class="p2 ">
	      <h2 class="h2 m0">HTML Snippets</h2>
	    </div>
	    <div class="p2 bg-silver">
	      <ul id="additionalNodes" class="m0"></ul>
	    </div>
	  </div>
	</div>

</div>