<div class="nalogo m0"><a href="https://wordpress.org/plugins/newsletter-artisan/"><img src="http://dstefaniak-staging.com/random_images/na/na_new.jpg"></a></div>

<div class="naprogress p2 mxn2">
	<div class="stepOne"><i class="fa fa-list-ol"></i><span>select posts</span><i class="fa fa-check"></i></div>
	<div class="stepTwo disabled"><i class="fa fa-sort-numeric-asc"></i><span>sort posts</span><i class="fa fa-check"></i></div>
	<div class="stepThree disabled"><i class="fa fa-file-text"></i><span>add HTML snippets</span><i class="fa fa-check"></i></div>
	<div class="publish disabled"><i class="fa fa-paper-plane"></i><span>publish</span></div>
</div>
<div class="sideNav p2 mxn2">
	<div class="nextStep button-outline"><i class="fa fa-forward"></i><span>Next</span></div>
	<div class="publishStep disabled button-outline"><i class="fa fa-check"></i><span>Publish</span></div>
</div>