<div class="sm-col-12">
	<a class="edit button block button-transparent">Edit</a>

	<div class="editSubNav sm-col-6 bg-white border">

		<a class="editThemeName button block button-transparent">
			<label>Name</label>
			<input class="block full-width mb0 field-light rounded-top y-group-item" type="text"></a>
		<a class="editThemeCode button block button-transparent">Theme Code</a>
		<a class="editPostCode button block button-transparent">Post Code</a>
	</div>

	<a class="update button block button-transparent">Update Theme</a>
	<a class="activeTheme button block button-transparent">Activate Theme</a>
	<a class="delete button block button-transparent">Delete Theme</a>
	
	<div class="makeSure sm-col-6 bg-white border">
		<a class="yesDelete button block button-transparent">Ok</a>
		<a class="noDelete button block button-transparent">No</a>
	</div>

	<a class="closeNav button block button-transparent">Cancel</a>
	<a class="deleteAllThemes button block button-transparent">Delete All Themes</a>
</div>