<ul class="list-reset mt2 mb2">
		<h3><span>Create New Theme</span></h3>

	<div class="sm-col-12">
	  <a class="addThemeName button block button-transparent">Add Name<span class="validation"><i class="fa fa-check-square-o"></i><i class="fa fa-times"></i></span></a>
	  <input placeholder="theme_name" type="text" class="block disabled full-width field-light">
	  <a class="addThemeCode button block button-transparent">Add Theme Code<span class="validation"><i class="fa fa-check-square-o"></i><i class="fa fa-times"></i></span></a>
	  
	  <a class="addPostCode button block button-transparent">Add Post Code<span class="validation"><i class="fa fa-check-square-o"></i><i class="fa fa-times"></i></span></a>
	  <a class="addTheme button block button-transparent">Add Theme</a>
	  <a class="cancelTheme button block button-transparent">Cancel</a>
	</div>

</ul>


