<div class="nalogo m0">
	<a href="https://wordpress.org/plugins/newsletter-artisan/">
		<img src="http://dstefaniak-staging.com/random_images/na/na_new.jpg">
	</a>
</div>

<div class="naprogress disabled createNewTheme p2 mxn2">
	<div class="stepOne"><i class="fa fa-list-ol"></i><span>add basic info</span><i class="fa fa-check"></i></div>
	<div class="stepTwo disabled"><i class="fa fa-sort-numeric-asc"></i><span>add theme code</span><i class="fa fa-check"></i></div>
	<div class="publish disabled"><i class="fa fa-paper-plane"></i><span>publish</span></div>
</div>

<div class="naprogress disabled ChangeTheme p2 mxn2">
	<div class="stepOne"><i class="fa fa-list-ol"></i><span>select theme</span><i class="fa fa-check"></i></div>
	<div class="stepTwo disabled"><i class="fa fa-sort-numeric-asc"></i><span>edit basic info</span><i class="fa fa-check"></i></div>
	<div class="stepThree disabled"><i class="fa fa-file-text"></i><span>edit theme code</span><i class="fa fa-check"></i></div>
	<div class="publish disabled"><i class="fa fa-paper-plane"></i><span>publish</span></div>
</div>

<div class="sideNav p2 mxn2">
	<div class="createTheme button-outline"><i class="fa fa-plus"></i><span>New Theme {{{name}}}</span></div>
</div>